---
layout: base.njk
---

<main>
    <div class="container">
                <div class="box-1"> 
                    <list>
            <item> {{  country[3].name.common }}</item>
            <item> {{  country[3].name.official }}</item>
            <item> {{  country[3].tld }}</item>
            <item> {{  country[3].cca2 }}</item>
            <item>Country code: {{  country[3].cca3 }}</item> 
            <item> {{  country[3].independent }}</item>
            <item> {{  country[3].status }}</item>
            <item> {{  country[3].unMember }}</item>
            <item> {{  country[3].capital }}</item>
            <item> {{  country[3].altSpellings }}</item>
            <item> {{  country[3].region }}</item>
            <item> {{  country[3].subregion }}</item>
            <item> {{  country[3].lating }}</item>
            <item> {{  country[3].landlocked }}</item>
            <item> {{  country[3].borders }}</item>
            <item> {{  country[3].area }}</item>
            <item> {{  country[3].flag }}</item>
            <item> {{  country[3].maps.googleMaps }}</item>
            <item> {{  country[3].maps.openStreetMaps }}</item>
            <item> {{  country[3].population }}</item>
            <item> {{  country[3].car.signs }}</item>
            <item> {{  country[3].car.side }}</item>
            <item> {{  country[3].timezones }}</item>
            <item> {{  country[3].continents }}</item>
            <item> {{  country[3].startOfWeek }}</item>
            <item> {{  country[3].coatOfArms.png }}</item>
            <item> {{  country[3].coatOfArms.svg }}</item>
            </list>

        </div>
                <div class="box-2"> 
                    <list>
            <item> {{  country[58].name.common }}</item>
            <item> {{  country[58].name.official }}</item>
            <item> {{  country[58].tld }}</item>
            <item> {{  country[58].cca2 }}</item>
            <item>Country code: {{  country[58].cca3 }}</item
            <item> {{  country[58].independent }}</item>
            <item> {{  country[58].status }}</item>
            <item> {{  country[58].unMember }}</item>
            <item> {{  country[58].capital }}</item>
            <item> {{  country[58].altSpellings }}</item>
            <item> {{  country[58].region }}</item>
            <item> {{  country[58].subregion }}</item>
            <item> {{  country[58].lating }}</item>
            <item> {{  country[58].landlocked }}</item>
            <item> {{  country[58].borders }}</item>
            <item> {{  country[58].area }}</item>
            <item> {{  country[58].flag }}</item>
            <item> {{  country[58].maps.googleMaps }}</item>
            <item> {{  country[58].maps.openStreetMaps }}</item>
            <item> {{  country[58].population }}</item>
            <item> {{  country[58].car.signs }}</item>
            <item> {{  country[58].car.side }}</item>
            <item> {{  country[58].timezones }}</item>
            <item> {{  country[58].continents }}</item>
            <item> {{  country[58].startOfWeek }}</item>
            <item> {{  country[58].coatOfArms.png }}</item>
            <item> {{  country[58].coatOfArms.svg }}</item>
            </list>
                <div class="box-3"> 
                    <list>
            <item> {{  country[84].name.common }}</item>
            <item> {{  country[84].name.official }}</item>
            <item> {{  country[84].tld }}</item>
            <item> {{  country[84].cca2 }}</item>
            <item>Country code: {{  country[84].cca3 }}</item
            <item> {{  country[84].independent }}</item>
            <item> {{  country[84].status }}</item>
            <item> {{  country[84].unMember }}</item>
            <item> {{  country[84].capital }}</item>
            <item> {{  country[84].altSpellings }}</item>
            <item> {{  country[84].region }}</item>
            <item> {{  country[84].subregion }}</item>
            <item> {{  country[84].lating }}</item>
            <item> {{  country[84].landlocked }}</item>
            <item> {{  country[84].borders }}</item>
            <item> {{  country[84].area }}</item>
            <item> {{  country[84].flag }}</item>
            <item> {{  country[84].maps.googleMaps }}</item>
            <item> {{  country[84].maps.openStreetMaps }}</item>
            <item> {{  country[84].population }}</item>
            <item> {{  country[84].car.signs }}</item>
            <item> {{  country[84].car.side }}</item>
            <item> {{  country[84].timezones }}</item>
            <item> {{  country[84].continents }}</item>
            <item> {{  country[84].startOfWeek }}</item>
            <item> {{  country[84].coatOfArms.png }}</item>
            <item> {{  country[84].coatOfArms.svg }}</item>
            </list>
        </div>
                <div class="box-4"> 
                    <list>
            <item> {{  country[30].name.common }}</item>
            <item> {{  country[30].name.official }}</item>
            <item> {{  country[30].tld }}</item>
            <item> {{  country[30].cca2 }}</item>
            <item>Country code: {{  country[30].cca3 }}</item
            <item> {{  country[30].independent }}</item>
            <item> {{  country[30].status }}</item>
            <item> {{  country[30].unMember }}</item>
            <item> {{  country[30].capital }}</item>
            <item> {{  country[30].altSpellings }}</item>
            <item> {{  country[30].region }}</item>
            <item> {{  country[30].subregion }}</item>
            <item> {{  country[30].lating }}</item>
            <item> {{  country[30].landlocked }}</item>
            <item> {{  country[30].borders }}</item>
            <item> {{  country[30].area }}</item>
            <item> {{  country[30].flag }}</item>
            <item> {{  country[30].maps.googleMaps }}</item>
            <item> {{  country[30].maps.openStreetMaps }}</item>
            <item> {{  country[30].population }}</item>
            <item> {{  country[30].car.signs }}</item>
            <item> {{  country[30].car.side }}</item>
            <item> {{  country[30].timezones }}</item>
            <item> {{  country[30].continents }}</item>
            <item> {{  country[30].startOfWeek }}</item>
            <item> {{  country[30].coatOfArms.png }}</item>
            <item> {{  country[30].coatOfArms.svg }}</item>
            </list>
        </div>
                <div class="box-5"> 
                    <list>
            <item> {{  country[28].name.common }}</item>
            <item> {{  country[28].name.official }}</item>
            <item> {{  country[28].tld }}</item>
            <item> {{  country[28].cca2 }}</item>
            <item>Country code: {{  country[28].cca3 }}</item
            <item> {{  country[28].independent }}</item>
            <item> {{  country[28].status }}</item>
            <item> {{  country[28].unMember }}</item>
            <item> {{  country[28].capital }}</item>
            <item> {{  country[28].altSpellings }}</item>
            <item> {{  country[28].region }}</item>
            <item> {{  country[28].subregion }}</item>
            <item> {{  country[28].lating }}</item>
            <item> {{  country[28].landlocked }}</item>
            <item> {{  country[28].borders }}</item>
            <item> {{  country[28].area }}</item>
            <item> {{  country[28].flag }}</item>
            <item> {{  country[28].maps.googleMaps }}</item>
            <item> {{  country[28].maps.openStreetMaps }}</item>
            <item> {{  country[28].population }}</item>
            <item> {{  country[28].car.signs }}</item>
            <item> {{  country[28].car.side }}</item>
            <item> {{  country[28].timezones }}</item>
            <item> {{  country[28].continents }}</item>
            <item> {{  country[28].startOfWeek }}</item>
            <item> {{  country[28].coatOfArms.png }}</item>
            <item> {{  country[28].coatOfArms.svg }}</item>
            </list>
        </div>
                <div class="box-6"> 
                    <list>
            <item> {{  country[75].name.common }}</item>
            <item> {{  country[75].name.official }}</item>
            <item> {{  country[75].tld }}</item>
            <item> {{  country[75].cca2 }}</item>
            <item>Country code: {{  country[75].cca3 }}</item
            <item> {{  country[75].independent }}</item>
            <item> {{  country[75].status }}</item>
            <item> {{  country[75].unMember }}</item>
            <item> {{  country[75].capital }}</item>
            <item> {{  country[75].altSpellings }}</item>
            <item> {{  country[75].region }}</item>
            <item> {{  country[75].subregion }}</item>
            <item> {{  country[75].lating }}</item>
            <item> {{  country[75].landlocked }}</item>
            <item> {{  country[75].borders }}</item>
            <item> {{  country[75].area }}</item>
            <item> {{  country[75].flag }}</item>
            <item> {{  country[75].maps.googleMaps }}</item>
            <item> {{  country[75].maps.openStreetMaps }}</item>
            <item> {{  country[75].population }}</item>
            <item> {{  country[75].car.signs }}</item>
            <item> {{  country[75].car.side }}</item>
            <item> {{  country[75].timezones }}</item>
            <item> {{  country[75].continents }}</item>
            <item> {{  country[75].startOfWeek }}</item>
            <item> {{  country[75].coatOfArms.png }}</item>
            <item> {{  country[75].coatOfArms.svg }}</item>
            </list>
        </div>
    </div>
</main>